--
-- PostgreSQL database dump
--

\restrict hdPLvbLPW0X3UYI415Admsse4rbX71yqT2oRXzjUX2RYbipiaFzoYkIW7Jl94Ww

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AttendanceStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."AttendanceStatus" AS ENUM (
    'PRESENT',
    'LATE',
    'ABSENT',
    'LEAVE'
);


--
-- Name: BookingStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."BookingStatus" AS ENUM (
    'PENDING',
    'PAID',
    'CANCELLED',
    'EXPIRED',
    'REFUNDED'
);


--
-- Name: MovieStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."MovieStatus" AS ENUM (
    'DRAFT',
    'NOW_SHOWING',
    'COMING_SOON',
    'ENDED'
);


--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'SUCCESS',
    'FAILED',
    'CANCELLED',
    'REFUNDED',
    'EXPIRED',
    'REVIEW_REQUIRED'
);


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'CUSTOMER',
    'ADMIN',
    'STAFF'
);


--
-- Name: SeatType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."SeatType" AS ENUM (
    'STANDARD',
    'VIP',
    'COUPLE'
);


--
-- Name: ShowtimeSeatStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ShowtimeSeatStatus" AS ENUM (
    'AVAILABLE',
    'HELD',
    'BOOKED',
    'BLOCKED'
);


--
-- Name: TicketStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."TicketStatus" AS ENUM (
    'VALID',
    'USED',
    'CANCELLED',
    'EXPIRED'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: booking_combo_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.booking_combo_items (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    "comboId" text NOT NULL,
    quantity integer NOT NULL,
    "unitPrice" numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: booking_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.booking_items (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    "showtimeSeatId" text NOT NULL,
    "unitPrice" numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: booking_promotions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.booking_promotions (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    "promotionId" text NOT NULL,
    "originalAmount" numeric(10,2) NOT NULL,
    "discountAmount" numeric(10,2) NOT NULL,
    "appliedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    CONSTRAINT booking_promotions_amount_check CHECK ((("originalAmount" >= (0)::numeric) AND ("discountAmount" >= (0)::numeric) AND ("discountAmount" <= "originalAmount")))
);


--
-- Name: bookings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bookings (
    id text NOT NULL,
    "userId" text NOT NULL,
    "showtimeId" text NOT NULL,
    status public."BookingStatus" DEFAULT 'PENDING'::public."BookingStatus" NOT NULL,
    "totalAmount" numeric(10,2) NOT NULL,
    currency text DEFAULT 'VND'::text NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: cinema_chains; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cinema_chains (
    id text NOT NULL,
    name text NOT NULL,
    city text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: cinema_ticket_prices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cinema_ticket_prices (
    id text NOT NULL,
    "cinemaId" text NOT NULL,
    "seatType" public."SeatType" NOT NULL,
    price numeric(10,2) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: cinemas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cinemas (
    id text NOT NULL,
    name text NOT NULL,
    address text,
    city text,
    phone text,
    email text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "chainId" text,
    code text,
    ward text,
    "imageUrl" text
);


--
-- Name: concession_combos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.concession_combos (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    "imageUrl" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: genres; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.genres (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: movie_genres; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.movie_genres (
    "movieId" text NOT NULL,
    "genreId" text NOT NULL
);


--
-- Name: movie_reviews; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.movie_reviews (
    id text NOT NULL,
    "userId" text NOT NULL,
    "movieId" text NOT NULL,
    rating integer NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    CONSTRAINT movie_reviews_rating_check CHECK (((rating >= 1) AND (rating <= 10)))
);


--
-- Name: movies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.movies (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    "posterUrl" text,
    "trailerUrl" text,
    "durationMin" integer NOT NULL,
    "releaseDate" timestamp(3) without time zone,
    status public."MovieStatus" DEFAULT 'DRAFT'::public."MovieStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "tmdbId" integer,
    "ageRating" text DEFAULT 'P'::text NOT NULL,
    "endDate" timestamp(3) without time zone
);


--
-- Name: payment_webhook_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payment_webhook_events (
    id text NOT NULL,
    provider text NOT NULL,
    "transactionId" text,
    "providerRef" text,
    amount numeric(10,2),
    direction text,
    status text NOT NULL,
    payload jsonb NOT NULL,
    "errorMessage" text,
    "receivedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "processedAt" timestamp(3) without time zone
);


--
-- Name: payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    provider text,
    "providerRef" text,
    amount numeric(10,2) NOT NULL,
    currency text DEFAULT 'VND'::text NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "providerTransactionId" text,
    "expiredAt" timestamp(3) without time zone
);


--
-- Name: promotions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.promotions (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    "discountPercent" integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "startsAt" timestamp(3) without time zone,
    "endsAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    CONSTRAINT promotions_discount_percent_check CHECK ((("discountPercent" >= 0) AND ("discountPercent" <= 100)))
);


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    "tokenHash" text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "revokedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rooms (
    id text NOT NULL,
    "cinemaId" text NOT NULL,
    name text NOT NULL,
    capacity integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: seats; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.seats (
    id text NOT NULL,
    "roomId" text NOT NULL,
    "row" text NOT NULL,
    number integer NOT NULL,
    type public."SeatType" DEFAULT 'STANDARD'::public."SeatType" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "position" integer NOT NULL
);


--
-- Name: showtime_seats; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.showtime_seats (
    id text NOT NULL,
    "showtimeId" text NOT NULL,
    "seatId" text NOT NULL,
    status public."ShowtimeSeatStatus" DEFAULT 'AVAILABLE'::public."ShowtimeSeatStatus" NOT NULL,
    price numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: showtimes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.showtimes (
    id text NOT NULL,
    "movieId" text NOT NULL,
    "roomId" text NOT NULL,
    "startAt" timestamp(3) without time zone NOT NULL,
    "endAt" timestamp(3) without time zone NOT NULL,
    "basePrice" numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    CONSTRAINT "showtimes_startAt_endAt_check" CHECK (("startAt" < "endAt"))
);


--
-- Name: staff_attendances; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.staff_attendances (
    id text NOT NULL,
    "staffId" text NOT NULL,
    "workDate" date NOT NULL,
    "checkInAt" timestamp(3) without time zone,
    "checkOutAt" timestamp(3) without time zone,
    status public."AttendanceStatus" DEFAULT 'PRESENT'::public."AttendanceStatus" NOT NULL,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "shiftCode" text
);


--
-- Name: ticket_check_ins; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ticket_check_ins (
    id text NOT NULL,
    "ticketId" text NOT NULL,
    "checkedInAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "checkedInBy" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tickets (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    "bookingItemId" text NOT NULL,
    "qrToken" text NOT NULL,
    status public."TicketStatus" DEFAULT 'VALID'::public."TicketStatus" NOT NULL,
    "issuedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "firstName" text,
    "lastName" text,
    role public."Role" DEFAULT 'CUSTOMER'::public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    username text,
    phone text
);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: booking_combo_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: booking_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: booking_promotions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cinema_chains; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cinema_chains (id, name, city, "createdAt", "updatedAt") FROM stdin;
cmrkkfqrv000leijqmjlv83yb	CR Cinema	Đà Nẵng	2026-07-14 11:26:23.563	2026-07-14 11:26:23.563
\.


--
-- Data for Name: cinema_ticket_prices; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cinemas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: concession_combos; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: genres; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: movie_genres; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: movie_reviews; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.movie_reviews (id, "userId", "movieId", rating, comment, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: movies; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payment_webhook_events; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payment_webhook_events (id, provider, "transactionId", "providerRef", amount, direction, status, payload, "errorMessage", "receivedAt", "processedAt") FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: promotions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.promotions (id, code, name, "discountPercent", "isActive", "startsAt", "endsAt", "createdAt", "updatedAt") FROM stdin;
promo-uudai100	UUDAI100	Ưu đãi toàn bộ đơn hàng	100	t	\N	\N	2026-07-14 19:18:37.313	2026-07-14 19:18:37.313
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: seats; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: showtime_seats; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: showtimes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: staff_attendances; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ticket_check_ins; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ticket_check_ins (id, "ticketId", "checkedInAt", "checkedInBy", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: booking_combo_items booking_combo_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking_combo_items
    ADD CONSTRAINT booking_combo_items_pkey PRIMARY KEY (id);


--
-- Name: booking_items booking_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT booking_items_pkey PRIMARY KEY (id);


--
-- Name: booking_promotions booking_promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking_promotions
    ADD CONSTRAINT booking_promotions_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: cinema_chains cinema_chains_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cinema_chains
    ADD CONSTRAINT cinema_chains_pkey PRIMARY KEY (id);


--
-- Name: cinema_ticket_prices cinema_ticket_prices_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cinema_ticket_prices
    ADD CONSTRAINT cinema_ticket_prices_pkey PRIMARY KEY (id);


--
-- Name: cinemas cinemas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cinemas
    ADD CONSTRAINT cinemas_pkey PRIMARY KEY (id);


--
-- Name: concession_combos concession_combos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.concession_combos
    ADD CONSTRAINT concession_combos_pkey PRIMARY KEY (id);


--
-- Name: genres genres_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_pkey PRIMARY KEY (id);


--
-- Name: movie_genres movie_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movie_genres
    ADD CONSTRAINT movie_genres_pkey PRIMARY KEY ("movieId", "genreId");


--
-- Name: movie_reviews movie_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movie_reviews
    ADD CONSTRAINT movie_reviews_pkey PRIMARY KEY (id);


--
-- Name: movies movies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_pkey PRIMARY KEY (id);


--
-- Name: payment_webhook_events payment_webhook_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_webhook_events
    ADD CONSTRAINT payment_webhook_events_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: promotions promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: seats seats_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seats
    ADD CONSTRAINT seats_pkey PRIMARY KEY (id);


--
-- Name: showtime_seats showtime_seats_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.showtime_seats
    ADD CONSTRAINT showtime_seats_pkey PRIMARY KEY (id);


--
-- Name: showtimes showtimes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.showtimes
    ADD CONSTRAINT showtimes_pkey PRIMARY KEY (id);


--
-- Name: staff_attendances staff_attendances_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff_attendances
    ADD CONSTRAINT staff_attendances_pkey PRIMARY KEY (id);


--
-- Name: ticket_check_ins ticket_check_ins_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ticket_check_ins
    ADD CONSTRAINT ticket_check_ins_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: booking_combo_items_bookingId_comboId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "booking_combo_items_bookingId_comboId_key" ON public.booking_combo_items USING btree ("bookingId", "comboId");


--
-- Name: booking_combo_items_bookingId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "booking_combo_items_bookingId_idx" ON public.booking_combo_items USING btree ("bookingId");


--
-- Name: booking_combo_items_comboId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "booking_combo_items_comboId_idx" ON public.booking_combo_items USING btree ("comboId");


--
-- Name: booking_items_bookingId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "booking_items_bookingId_idx" ON public.booking_items USING btree ("bookingId");


--
-- Name: booking_items_bookingId_showtimeSeatId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "booking_items_bookingId_showtimeSeatId_key" ON public.booking_items USING btree ("bookingId", "showtimeSeatId");


--
-- Name: booking_items_showtimeSeatId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "booking_items_showtimeSeatId_idx" ON public.booking_items USING btree ("showtimeSeatId");


--
-- Name: booking_promotions_bookingId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "booking_promotions_bookingId_key" ON public.booking_promotions USING btree ("bookingId");


--
-- Name: booking_promotions_promotionId_appliedAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "booking_promotions_promotionId_appliedAt_idx" ON public.booking_promotions USING btree ("promotionId", "appliedAt");


--
-- Name: bookings_showtimeId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "bookings_showtimeId_status_idx" ON public.bookings USING btree ("showtimeId", status);


--
-- Name: bookings_status_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "bookings_status_createdAt_idx" ON public.bookings USING btree (status, "createdAt");


--
-- Name: bookings_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "bookings_userId_createdAt_idx" ON public.bookings USING btree ("userId", "createdAt");


--
-- Name: cinema_chains_city_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX cinema_chains_city_idx ON public.cinema_chains USING btree (city);


--
-- Name: cinema_chains_name_city_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX cinema_chains_name_city_key ON public.cinema_chains USING btree (name, city);


--
-- Name: cinema_chains_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX cinema_chains_name_idx ON public.cinema_chains USING btree (name);


--
-- Name: cinema_ticket_prices_cinemaId_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "cinema_ticket_prices_cinemaId_isActive_idx" ON public.cinema_ticket_prices USING btree ("cinemaId", "isActive");


--
-- Name: cinema_ticket_prices_cinemaId_seatType_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "cinema_ticket_prices_cinemaId_seatType_key" ON public.cinema_ticket_prices USING btree ("cinemaId", "seatType");


--
-- Name: cinema_ticket_prices_seatType_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "cinema_ticket_prices_seatType_idx" ON public.cinema_ticket_prices USING btree ("seatType");


--
-- Name: cinemas_chainId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "cinemas_chainId_idx" ON public.cinemas USING btree ("chainId");


--
-- Name: cinemas_city_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX cinemas_city_idx ON public.cinemas USING btree (city);


--
-- Name: cinemas_code_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX cinemas_code_idx ON public.cinemas USING btree (code);


--
-- Name: cinemas_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX cinemas_code_key ON public.cinemas USING btree (code);


--
-- Name: cinemas_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX cinemas_name_idx ON public.cinemas USING btree (name);


--
-- Name: cinemas_ward_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX cinemas_ward_idx ON public.cinemas USING btree (ward);


--
-- Name: concession_combos_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "concession_combos_isActive_idx" ON public.concession_combos USING btree ("isActive");


--
-- Name: concession_combos_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX concession_combos_name_idx ON public.concession_combos USING btree (name);


--
-- Name: genres_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX genres_name_key ON public.genres USING btree (name);


--
-- Name: movie_genres_genreId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "movie_genres_genreId_idx" ON public.movie_genres USING btree ("genreId");


--
-- Name: movie_reviews_movieId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "movie_reviews_movieId_idx" ON public.movie_reviews USING btree ("movieId");


--
-- Name: movie_reviews_userId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "movie_reviews_userId_idx" ON public.movie_reviews USING btree ("userId");


--
-- Name: movie_reviews_userId_movieId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "movie_reviews_userId_movieId_key" ON public.movie_reviews USING btree ("userId", "movieId");


--
-- Name: movies_endDate_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "movies_endDate_idx" ON public.movies USING btree ("endDate");


--
-- Name: movies_releaseDate_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "movies_releaseDate_idx" ON public.movies USING btree ("releaseDate");


--
-- Name: movies_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX movies_status_idx ON public.movies USING btree (status);


--
-- Name: movies_title_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX movies_title_idx ON public.movies USING btree (title);


--
-- Name: movies_tmdbId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "movies_tmdbId_idx" ON public.movies USING btree ("tmdbId");


--
-- Name: payment_webhook_events_provider_providerRef_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "payment_webhook_events_provider_providerRef_idx" ON public.payment_webhook_events USING btree (provider, "providerRef");


--
-- Name: payment_webhook_events_provider_transactionId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "payment_webhook_events_provider_transactionId_idx" ON public.payment_webhook_events USING btree (provider, "transactionId");


--
-- Name: payment_webhook_events_status_receivedAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "payment_webhook_events_status_receivedAt_idx" ON public.payment_webhook_events USING btree (status, "receivedAt");


--
-- Name: payments_bookingId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "payments_bookingId_status_idx" ON public.payments USING btree ("bookingId", status);


--
-- Name: payments_providerTransactionId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "payments_providerTransactionId_key" ON public.payments USING btree ("providerTransactionId");


--
-- Name: payments_provider_providerRef_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "payments_provider_providerRef_idx" ON public.payments USING btree (provider, "providerRef");


--
-- Name: payments_provider_providerRef_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "payments_provider_providerRef_unique" ON public.payments USING btree (provider, "providerRef") WHERE ("providerRef" IS NOT NULL);


--
-- Name: payments_provider_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payments_provider_status_idx ON public.payments USING btree (provider, status);


--
-- Name: payments_status_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "payments_status_createdAt_idx" ON public.payments USING btree (status, "createdAt");


--
-- Name: promotions_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX promotions_code_key ON public.promotions USING btree (code);


--
-- Name: promotions_isActive_startsAt_endsAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "promotions_isActive_startsAt_endsAt_idx" ON public.promotions USING btree ("isActive", "startsAt", "endsAt");


--
-- Name: refresh_tokens_expiresAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "refresh_tokens_expiresAt_idx" ON public.refresh_tokens USING btree ("expiresAt");


--
-- Name: refresh_tokens_tokenHash_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "refresh_tokens_tokenHash_key" ON public.refresh_tokens USING btree ("tokenHash");


--
-- Name: refresh_tokens_userId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "refresh_tokens_userId_idx" ON public.refresh_tokens USING btree ("userId");


--
-- Name: rooms_cinemaId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "rooms_cinemaId_idx" ON public.rooms USING btree ("cinemaId");


--
-- Name: rooms_cinemaId_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "rooms_cinemaId_name_key" ON public.rooms USING btree ("cinemaId", name);


--
-- Name: seats_roomId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "seats_roomId_idx" ON public.seats USING btree ("roomId");


--
-- Name: seats_roomId_row_number_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "seats_roomId_row_number_key" ON public.seats USING btree ("roomId", "row", number);


--
-- Name: seats_roomId_row_position_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "seats_roomId_row_position_key" ON public.seats USING btree ("roomId", "row", "position");


--
-- Name: seats_type_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX seats_type_idx ON public.seats USING btree (type);


--
-- Name: showtime_seats_seatId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "showtime_seats_seatId_status_idx" ON public.showtime_seats USING btree ("seatId", status);


--
-- Name: showtime_seats_showtimeId_seatId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "showtime_seats_showtimeId_seatId_key" ON public.showtime_seats USING btree ("showtimeId", "seatId");


--
-- Name: showtime_seats_showtimeId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "showtime_seats_showtimeId_status_idx" ON public.showtime_seats USING btree ("showtimeId", status);


--
-- Name: showtime_seats_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX showtime_seats_status_idx ON public.showtime_seats USING btree (status);


--
-- Name: showtimes_movieId_startAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "showtimes_movieId_startAt_idx" ON public.showtimes USING btree ("movieId", "startAt");


--
-- Name: showtimes_roomId_startAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "showtimes_roomId_startAt_idx" ON public.showtimes USING btree ("roomId", "startAt");


--
-- Name: showtimes_startAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "showtimes_startAt_idx" ON public.showtimes USING btree ("startAt");


--
-- Name: staff_attendances_staffId_workDate_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "staff_attendances_staffId_workDate_key" ON public.staff_attendances USING btree ("staffId", "workDate");


--
-- Name: staff_attendances_workDate_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "staff_attendances_workDate_idx" ON public.staff_attendances USING btree ("workDate");


--
-- Name: ticket_check_ins_checkedInAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ticket_check_ins_checkedInAt_idx" ON public.ticket_check_ins USING btree ("checkedInAt");


--
-- Name: ticket_check_ins_ticketId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "ticket_check_ins_ticketId_key" ON public.ticket_check_ins USING btree ("ticketId");


--
-- Name: tickets_bookingId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "tickets_bookingId_idx" ON public.tickets USING btree ("bookingId");


--
-- Name: tickets_bookingItemId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "tickets_bookingItemId_idx" ON public.tickets USING btree ("bookingItemId");


--
-- Name: tickets_qrToken_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "tickets_qrToken_key" ON public.tickets USING btree ("qrToken");


--
-- Name: tickets_status_expiresAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "tickets_status_expiresAt_idx" ON public.tickets USING btree (status, "expiresAt");


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: booking_combo_items booking_combo_items_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking_combo_items
    ADD CONSTRAINT "booking_combo_items_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public.bookings(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: booking_combo_items booking_combo_items_comboId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking_combo_items
    ADD CONSTRAINT "booking_combo_items_comboId_fkey" FOREIGN KEY ("comboId") REFERENCES public.concession_combos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: booking_items booking_items_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT "booking_items_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public.bookings(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: booking_items booking_items_showtimeSeatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT "booking_items_showtimeSeatId_fkey" FOREIGN KEY ("showtimeSeatId") REFERENCES public.showtime_seats(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: booking_promotions booking_promotions_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking_promotions
    ADD CONSTRAINT "booking_promotions_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public.bookings(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: booking_promotions booking_promotions_promotionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking_promotions
    ADD CONSTRAINT "booking_promotions_promotionId_fkey" FOREIGN KEY ("promotionId") REFERENCES public.promotions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bookings bookings_showtimeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT "bookings_showtimeId_fkey" FOREIGN KEY ("showtimeId") REFERENCES public.showtimes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: bookings bookings_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT "bookings_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cinema_ticket_prices cinema_ticket_prices_cinemaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cinema_ticket_prices
    ADD CONSTRAINT "cinema_ticket_prices_cinemaId_fkey" FOREIGN KEY ("cinemaId") REFERENCES public.cinemas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cinemas cinemas_chainId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cinemas
    ADD CONSTRAINT "cinemas_chainId_fkey" FOREIGN KEY ("chainId") REFERENCES public.cinema_chains(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: movie_genres movie_genres_genreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movie_genres
    ADD CONSTRAINT "movie_genres_genreId_fkey" FOREIGN KEY ("genreId") REFERENCES public.genres(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: movie_genres movie_genres_movieId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movie_genres
    ADD CONSTRAINT "movie_genres_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES public.movies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: movie_reviews movie_reviews_movieId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movie_reviews
    ADD CONSTRAINT "movie_reviews_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES public.movies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: movie_reviews movie_reviews_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movie_reviews
    ADD CONSTRAINT "movie_reviews_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payments payments_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public.bookings(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rooms rooms_cinemaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT "rooms_cinemaId_fkey" FOREIGN KEY ("cinemaId") REFERENCES public.cinemas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: seats seats_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seats
    ADD CONSTRAINT "seats_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: showtime_seats showtime_seats_seatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.showtime_seats
    ADD CONSTRAINT "showtime_seats_seatId_fkey" FOREIGN KEY ("seatId") REFERENCES public.seats(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: showtime_seats showtime_seats_showtimeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.showtime_seats
    ADD CONSTRAINT "showtime_seats_showtimeId_fkey" FOREIGN KEY ("showtimeId") REFERENCES public.showtimes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: showtimes showtimes_movieId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.showtimes
    ADD CONSTRAINT "showtimes_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES public.movies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: showtimes showtimes_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.showtimes
    ADD CONSTRAINT "showtimes_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: staff_attendances staff_attendances_staffId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.staff_attendances
    ADD CONSTRAINT "staff_attendances_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ticket_check_ins ticket_check_ins_ticketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ticket_check_ins
    ADD CONSTRAINT "ticket_check_ins_ticketId_fkey" FOREIGN KEY ("ticketId") REFERENCES public.tickets(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tickets tickets_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT "tickets_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public.bookings(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tickets tickets_bookingItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT "tickets_bookingItemId_fkey" FOREIGN KEY ("bookingItemId") REFERENCES public.booking_items(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict hdPLvbLPW0X3UYI415Admsse4rbX71yqT2oRXzjUX2RYbipiaFzoYkIW7Jl94Ww

